.main-content {
  background-color: $color-white;
  border-left: 20px solid $background-color;
  border-right: 20px solid $background-color;
  z-index: 1;

  &:last-of-type {
    border-bottom: 20px solid $background-color;
  }
}

.inner-content {
  padding: 30px 140px;
}


@media (max-width: 991px) {
  .inner-content {
    padding: 30px 0;
  }
}
