.sidebar {
  background-color: $color-black;
  font-family: $paragraph-font;
  color: $color-grey;
  position: fixed;
  height: 100vh;
  float: left;
  padding-left: 0;
  width: 100%;
}

.sidebar-logo {
  padding: 10px;

  h1 {
    font-family: $logo-font;
    font-size: 23px;
    color: $color-light-grey;
    display: inline-block;
    padding-left: 20px;
  }

  a {
    color: $color-grey;
    padding-left: 30px;

    &:hover {
      color: $color-white;
    }
  }
}

.sidebar-menu {
  .sidebar-menu-list {
    padding-left: 0;

    li {
      height: 40px;
      font-size: 0px;
      padding: 10px 20px;

      a {
        color: $color-grey;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
      }

      .icon-sidebar {
        height: 15px;
        width: 15px;
        filter: invert(60%) sepia(0%) saturate(380%) hue-rotate(153deg) brightness(99%) contrast(103%);
        margin-right: 20px;
      }

      &:hover {
        background: $color-dark-grey;
        border-left: 5px solid $color-dark-orange;

        a {
          color: $color-white;
        }

        .icon-sidebar {
          filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(120deg) brightness(105%) contrast(101%);
        }
      }
    }
  }

  .manager {
    border-top: $color-dark-grey 1px solid;
    padding-top: 20px;
    padding-left: 5px;
    width: 100%;
    margin: 0 auto;

    h2 {
      font-size: 14px;
      font-weight: 500;
      padding-left: 15px;
    }

    .manager-profile {
      display: flex;
      align-items: center;
      padding-left: 15px;

      img {
        height: 42px;
        width: 42px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        color: $color-blue;
        font-size: 14px;
        font-weight: 300;
      }

      a:hover {
        color: $color-white;
      }
    }
  }
}
