.top-bar {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $paragraph-font;
  font-weight: 300;
  border: 1px solid $color-light-grey;
  border-top: none;
  background: $color-white;
  height: 60px;
  margin: 0 auto;

  ul {
    height: 100%;
    display: flex;
  }

  li {
    display: flex;
    align-items: center;
    border-left: 1px solid $color-light-grey;
    padding: 0 15px;

    .user-profile {
      font-size: 13px;
      color: $color-blue;
    }

    .icon-top-bar {
      font-size: 17px;
      color: $color-grey;
    }

    a {
      font-size: 18px;
      text-decoration: none;
      color: $color-grey;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon-wallet, .icon-profile {
        padding-right: 15px;
      }

      .icon-arrow-down {
        font-size: 13px;
        padding-left: 15px;
      }

      .icon-notification {
        padding-left: 8px;
      }
    }

    .dot-activity {
      position: relative;
      right: 8px;
      bottom: 8px;
      height: 7px;
      width: 7px;
    }

    &:hover {
      background: $background-color;
    }
  }
}

@media (max-width: 767px) {
  .top-bar {
    visibility: hidden;
    position: sticky;

    .top-bar-options {
      margin-bottom: 0px;
    }
  }
}
