.top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: $paragraph-font;
  font-weight: 300;
  border: 1px solid $color-light-grey;
  background: $color-white;
  height: 60px;

  ul {
    height: 100%;
    display: flex;
  }

  li {
    display: flex;
    align-items: center;
    border-left: 1px solid $color-light-grey;
    padding: 0 15px;

    .user-profile {
      font-size: 13px;
      color: $color-blue;
    }

    .icon-top-bar {
      height: 17px;
      filter: invert(55%) sepia(1%) saturate(0%) hue-rotate(80deg) brightness(92%) contrast(82%);
    }

    a {
      font-size: 18px;
      text-decoration: none;
      color: $color-grey;

      .wallet, .profile {
        padding-right: 15px;
      }

      .arrow-down {
        height: 8px;
        padding-left: 15px;
      }

      .quit {
        height: 14px;
      }
    }

    .dot-activity {
      position: relative;
      right: 12px;
      bottom: 10px;
      height: 7px;
      width: 7px;
    }

    &:hover {
      background: $background-color;
    }
  }
}

