*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $background-color;
  background: $background-color;
  max-width: 1140px;
  margin: 0 auto;
}

.main {
  width: 100%;
  padding-left: 200px;
}
