*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $background-color;
  background: $background-color;
  margin: 0 auto;
}

.main {
  width: 100%;
  padding-left: 200px;
  padding-top: 60px;
}

@media (max-width: 767px) {
  .main {
    width: 100%;
    padding-left: 0;
    padding-top: 25px;
  }
}
