.btn {
  height: 40px;
  border: none;
  border-radius: 3px;
  background-color: $color-dark-orange;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-family: $paragraph-font;
  color: $color-white;
  font-size: 18px;
  font-weight: 100;
  text-decoration: none;

  &:hover {
    background-color: $color-orange;
  }
}

.btn-refresh {
  width: 40px;

  i {
    color: $color-white;
    font-size: 15px;
  }
}

.btn-add-new {
  width: 126px;
}

.btn-links {
  display: flex;
  justify-content: center;
}

.btn-cancel {
  background: $color-grey;
  width: 90px;
  font-weight: 300;

  &:hover {
    background-color: $color-dark-grey;
  }
}

.btn-quit {
  width: 90px;
  font-weight: 300;
}

.btn-close {
  color: $color-grey;
  font-family: $paragraph-font;
}

.btn-enter {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 0;
}

@media (max-width: 767px) {
  .btn-refresh {
    width: 25px;
    height: 25px;

    i {
      font-size: 10px;
    }
  }

  .btn-add-new {
    width: 90px;
    height: 30px;
    font-size: 14px;
  }
}
