.btn {
  height: 40px;
  border-radius: 3px;
  background-color: $color-dark-orange;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;

  &:hover {
    background-color: $color-orange;
  }
}

.btn-refresh {
  width: 40px;

  img {
    height: 15px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(120deg) brightness(105%) contrast(101%);
  }
}

.btn-add-new {
  width: 126px;
  font-size: 18px;
  font-family: $paragraph-font;
  font-weight: 100;
  text-decoration: none;
  color: $color-white;
}

.btn-links {
  display: flex;
  justify-content: center;
}


@media (max-width: 767px) {
  .btn-refresh {
    width: 25px;
    height: 25px;

    img {
      height: 10px;
    }
  }

  .btn-add-new {
    width: 90px;
    height: 30px;
    font-size: 14px;
  }
}
