table {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

tr {
  display: inline-block;
  border-bottom: 1px solid $color-light-grey;
  padding-top: 15px;
  padding-bottom: 15px;

  &:first-of-type {
    border-top: 1px solid $color-light-grey;
  }

  &:hover {
    background-color: $background-color;
  }

  th {
    text-align: left;

    &:nth-child(1){
      width: 250px;
    }

    &:nth-child(2){
      width: 300px;
    }

    &:nth-child(n+3){
      width: 40px;
    }
  }

  .title {
    font-family: $paragraph-font;
    font-size: 16px;
    font-weight: 500;
    color: $color-grey;
    margin: 0 auto;
    padding-left: 15px;
  }

  .link {
    font-family: $paragraph-font;
    font-size: 16px;
    font-weight: 100;
    color: $color-blue;
    text-decoration: none;

    &:hover {
      font-weight: 300;
    }
  }

  .icon {
    filter: invert(76%) sepia(0%) saturate(0%) hue-rotate(217deg) brightness(81%) contrast(82%);

    &:hover {
      filter: invert(51%) sepia(86%) saturate(826%) hue-rotate(348deg) brightness(100%) contrast(93%);
    }
  }

  .icon-links {
    height: 8px;
    width: 16px;
  }

  .icon-trash {
    height: 15px;
    width: 13px;
  }
}
