table {
  margin-top: 30px;
  margin-bottom: 30px;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid $color-light-grey;


  &:first-of-type {
    border-top: 1px solid $color-light-grey;
  }

  &:hover {
    background-color: $background-color;

    i {
      visibility: visible;
    }
  }

  td {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;

    &:nth-child(n+3){
      width: 40px;
    }

    i {
      visibility: hidden;
    }
  }

  .title {
    font-family: $paragraph-font;
    font-size: 16px;
    font-weight: 500;
    color: $color-grey;
    margin: 0 auto;
    padding-left: 15px;
  }

  .link {
    font-family: $paragraph-font;
    font-size: 16px;
    font-weight: 100;
    color: $color-blue;
    text-decoration: none;

    &:hover {
      font-weight: 300;
    }
  }

  .icon-links {
    font-size: 14px;
    color: $color-orange;

    &:hover {
      color: $color-red;
      font-weight: 500;
    }
  }

  .icon-trash {
    font-size: 14px;
    color: $color-grey;

    &:hover {
      color: $color-dark-grey;
    }
  }
}

.scroll-wrapper {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.scroll-wrapper table {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 575px) {
  table {
    tr {
      padding-top: 7px;
      padding-bottom: 7px;
    }

    .title, .link {
      font-size: 10px;
    }

    .icon-links {
      height: 7px;
      width: 12px;
    }

    .icon-trash {
      height: 11px;
      width: 10px;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  table {
    padding: 20px;

    tr {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .title, .link {
      font-size: 14px;
    }
  }
}
