.top-bar-rwd {
  visibility: hidden;
  border-top: $color-dark-grey 1px solid;
  font-family: $paragraph-font;
  color: $color-grey;
  padding-top: 20px;
  padding-left: 0;

  .icon-top-bar-rwd {
    font-size: 18px;
    color: $color-grey;
    margin-right: 20px;
  }

  li {
    font-size: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    align-content: center;
    display: flex;

    a {
      color: $color-grey;
      font-size: 18px;
      font-weight: 300;
      text-decoration: none;
    }

    .dot-activity {
      position: relative;
      right: 31px;
      bottom: 14px;
      height: 6px;
      width: 6px;
    }

    .user-profile {
      color: $color-blue;
    }

    &:hover {
      background: $color-dark-grey;
      border-left: 5px solid $color-dark-orange;

      a, .icon-top-bar-rwd {
        color: $color-white;
      }
    }
  }
}

@media (max-width: 767px) {
  .sidebar {
    .top-bar-rwd {
      visibility: visible;
    }

    .sidebar-logo {
      a {
        visibility: visible;
      }
    }
  }
}
